.buttons {
  margin:4px;

  label {
    float:left;
    min-width:120px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    cursor: pointer;
    span {
      text-align:center;
      padding:12px 0px;
      display:block;
    }
    input {
      position:absolute;
      top:-20px;
    }
  }
  input{
    &:checked + span {
      background-color:#404040;
      color:#F7F7F7;
    }
  }
}
